body {
	background: black;
}
/* * {
	border: 1px dashed red;
	min-height: 10px;
} */
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
}
.postcard-header {
	display: flex;
}
.postcard-body {
	display: flex;
}
.body-left,
.body-right {
	padding: 10px;
}
.no-margin {
	margin-top: 0%;
}
.body-right input {
	border: none;
	border-bottom: 1px grey solid;
}
.postcard-footer {
	text-align: center;
}
.postcard-footer button {
	background-color: rgb(192, 255, 200);
	padding: 3%;
}
p,
h1 {
	font-family: "Akaya Kanadaka", cursive;
}
